
/* 1em = 16px */
.container {
    display: flex;
    justify-content: center;
}

/* ---------------------------------
        cssgrid, bgimage og fl.
-----------------------------------*/
.fela {
    display: none;
}

/* ---------------------------------
            forsida
-----------------------------------*/
.hringur {
    text-align: center;

}
.hringur h1 {
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
    padding: 7px 7px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    
    
    
  
   
}
.green {
    padding: 0;
}

/* ---------------------------------
             main
-----------------------------------*/
.main {
    display: grid; 
    grid-template-columns: 1fr;
}


/* ---------------------------------
             footer
-----------------------------------*/
.footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #96E9D7;
    justify-content: center;
    margin: 0;
    padding: auto;
    row-gap: 1em;
}

.footer p {
    text-align: center;
}


/* ---------------------------------
            buttons
-----------------------------------*/
.button {
    display: none;
}


/* Larger than mobile */
  @media screen and (min-width: 30em) {}

/* Larger than phablet (also point when grid becomes active) */
  @media screen and (min-width: 37.5em) {}

  /* Larger than tablet */
  @media screen and (min-width: 48em) {
    h1 { 
        font-size: 3.0em; 
        line-height: 1.6;
        margin: 0.5em 0;  
    }
    h2 { 
        font-size: 2em; 
        line-height: 1.6;  
        margin-bottom: 0.5em;  
    }
    h3 { 
        font-size: 1.6em; 
        line-height: 1.6;  
    }
  }
  
/* Larger than desktop */
  @media screen and (min-width: 60em) {

  }
  
  /* Larger than Desktop HD */ 
  @media screen and (min-width: 100em) {

  }
  
